@charset "gb2312";
.banner {
    background: url(./img/banner_top.jpg) top center;
    height: 265px;
    overflow: hidden
}
.box {
    width: 1000px;
    margin: auto;
    overflow: hidden
}
.texts {
    width: 350px;
    line-height: 26px;
    margin: 60px 0 0 20px;
    float: left;
    font-size: 14px;
}
.avatar {
    float: right;
    margin: 40px;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    overflow: hidden;
    border: #FFF 4px solid
}
.avatar a {
    display: block;
    padding-top: 97px;
    width: 160px;
}

.avatar a span {
    display: block;
    margin-top: 63px;
    padding-top: 8px;
    width: 130px;
    height: 55px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: margin-top .2s ease-in-out;
    -moz-transition: margin-top .2s ease-in-out;
    -o-transition: margin-top .2s ease-in-out;
    transition: margin-top .2s ease-in-out;
}

.avatar a:hover span {
    display: block;
    margin-top: 0;
}
