@charset "gb2312";
/* CSS Document */
.about-con {
    background: url(../images/aboutphoto.jpg) no-repeat bottom right;
    color: #696969
}
.about {
    width: 740px;
    overflow: hidden;
    background: url(../images/r_line.jpg) repeat-y right;
    line-height: 22px;
    margin: 20px 0
}
