@charset "gb2312";
/* CSS Document */
* {
    margin: 0;
    padding: 0
}
body {
    font: 12px "����", Arial, Helvetica, sans-serif;
    color: #756F71
}
img {
    border: 0;
    display: block
}
ul {
    list-style: none;
}
header {
    width: 1000px;
    margin: auto;
    height: 80px;
    position: relative;
    overflow: hidden
}
nav {
    float: right;
    width: 80%;
    margin: 30px 0 0 0;
    text-align: right
}
nav a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-family: "宋体", Arial, Helvetica, sans-serif;
}
nav a:hover {
    text-decoration: none
}
article {
    width: 1000px;
    margin: 20px auto;
    overflow: hidden
}
aside {
    width: 250px;
    position: relative;
    margin-top: 10px;
}
footer {
    text-align: center;
    line-height: 40px;
    border-top: #E8E8E8 1px solid;
    width: 1000px;
    margin: auto
}
a:link, a:visited {
    text-decoration: none;
    color: #333;
}
a.read-more {
    background: #f90;
    color: #fff;
    padding: 5px 10px;
    float: right;
    margin: 20px 0 0 0
}
.left {
    float: left;
}
.right {
    float: right;
}
.blank {
    height: 25px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    clear: both
}
.en {
    color: #999;
    font-size: 12px;
    z-index: 1;
    display: block;
}
.ds-avatar {
    float: left;
}

#ds-thread {
    margin-right: 20px;
}

.shili {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    border: 1px dotted rgb(119, 136, 85);
    word-wrap: break-word;
}

.bt-cs {
    background: #f90;
    padding: 5px 10px;
}

.bt-cs a {
    color: #fff
}

div.bdsharebuttonbox.bdshare-button-style1-32 {
    margin: 20px 0;
}

.news {
    overflow: hidden;
    width: 250px;
}

.rss {
    width: 360px;
    text-align: right;
    float: right
}

.rss a {
    color: #696969;
    border-right: #696969 1px solid;
    margin: 0 2px;
    padding: 0 4px
}

.qq {
    float: left;
    width: 590px;
}

.qq form {
    float: left
}

a.tqq {
    float: right
}

a.tqq img {
    margin: 5px 0 0 3px;
}

input.inputSub {
    background: #2EA4F3;
    color: #fff;
    border: none;
    padding: 2px 4px;
    border-radius: 3px;
    cursor: pointer;
}
.rnav {
    width: 250px;
    margin: 20px 0;
    overflow: hidden;
    background: url(../images/6167.png) no-repeat left top
}

.rnav h2 {
    font-size: 14px;
    padding-left: 40px;
    line-height: 30px;
    height: 30px;
    margin-bottom: 10px
}

.rnav li {
    width: 120px;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
    height: 40px;
    line-height: 40px
}

.rnav li a {
    color: #333;
    display: block;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border: #CCC 1px solid
}
.rnav h2, .rnavs h2 {
    font-size: 14px;
    padding-left: 40px;
    line-height: 30px;
    height: 30px;
    margin-bottom: 10px
}

.rnav li, .rnavs li {
    width: 120px;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
    height: 40px;
    line-height: 40px
}

.rnav li a, .rnavs li a {
    color: #333;
    display: block;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border: #CCC 1px solid
}

.rnav ul li a:hover, .rnavs ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.rnav1 {
    background: #FE5187
}

.rnav2 {
    background: #339967
}

.rnav3 {
    background: #FF8151
}

.rnav4 {
    background: #66CC9A
}
aside .rnav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
