.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-top: 0.5%;
}

.navbar-nav>.active>a {
    background-color: transparent!important;
}

.navbar-nav {
    font-size: ;
}

